<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Action</span>
            <h3 class="page-title">Add Owner</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4 p-3">
                <div class="card-header border-bottom">
                    <div class="row">
                        <h5 class="text-accent">Enter Owner Details</h5>
                    </div>
                </div>
                <div class="card-body p-0 py-3">
                    <form action="/admin/add-owners" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="ownerName">Owner Name</label>
                                <input type="text" class="form-control" id="ownerName" name="ownerName" placeholder="Enter Owner Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="theatreName">Theatre Name</label>
                                <input type="text" class="form-control" id="theatreName"
                                     name="theatreName" placeholder="Enter Theatre Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="mobileNumber">Mobile Number</label>
                                <input type="tel" class="form-control" name="phoneNumber" id="mobileNumber"
                                    placeholder="Enter Mobile Number">
                            </div>
                        </div>
                        <div class="text-right w-100">
                            <a href="/admin/theater-management" class="btn btn-danger w-25">Cancel</a>
                            <button type="submit" class="btn btn-accent w-25">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
</div>