<section class="container" style="height: 100vh !important;">
    <div class="row h-100 justify-content-center">
        <div class="col-md-4 my-auto">
            <div class="card card_border border-primary-top p-4">
                <h3 class="text-center text-uppercase text-primary font-weight-bold mb-5">Login</h3>
                <form action="/admin/login" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Type your Email ID" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" placeholder="Type your Password" name="password" id="exampleInputPassword1">
                    </div>
                    {{#if loginErr}}
                    <div class="text-center pb-2">
                        <p class="text-danger">{{loginErr}}</p>
                    </div>
                    {{/if}}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary rounded-pill px-5">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>