<section>
    <!-- main content start -->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <!-- breadcrumbs -->
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Theatre Management</li>
                </ol>
            </nav>
            <!-- //breadcrumbs -->

            <section class="pricing">
                <div class="card card_border mb-5">
                    <div class="cards__heading">
                        <div class="row mx-1">
                            <h3>Theatre Owners</h3>
                            <a href="/admin/add-owners" class="btn btn-primary rounded-pill px-5 ml-auto">Add Owners</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table border" id="data-table">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Owner Name</th>
                                    <th scope="col">Theatre Name</th>
                                    <th scope="col">Theatres</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Grand Opera</td>
                                    <td>
                                        <a href="/admin/theatre-details" class="btn btn-danger btn-sm rounded-pill text-uppercase px-3">View</a>
                                    </td>
                                    <td>
                                        <a href="/admin/edit-theatre" class="btn btn-primary btn-sm rounded-pill text-uppercase px-3">Edit</a>
                                        <button class="btn btn-danger btn-sm rounded-pill text-uppercase px-3">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

        </div>
        <!-- //content -->

    </div>
    <!-- main content end-->
</section>