<section>
    <!-- main content start -->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <!-- breadcrumbs -->
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Users Management</li>
                </ol>
            </nav>
            <!-- //breadcrumbs -->

            <section class="pricing">
                <div class="card card_border mb-5">
                    <div class="cards__heading">
                        <h3>Users List</h3>
                    </div>
                    <div class="card-body">
                        <table class="table border table-responsive-sm" id="data-table">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">Sl.No</th>
                                    <th scope="col">Profile Pic</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Date of join</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each userData}}
                                <tr>
                                    <th scope="row" class="serialNumber"></th>
                                    <td>
                                        <div class="accountPic">
                                            <img src="{{#if this.profilePic}}{{this.profilePic}}{{else}}/images/user/profile.png{{/if}}"
                                                class="rounded-circle" alt="Image not found"
                                                onerror=this.src="/images/user/profile.png">
                                        </div>
                                    </td>
                                    <td>
                                        {{this.name}}
                                    </td>
                                    <td>{{this.email}}</td>
                                    <td>{{#parseDate this.joinDate}}{{/parseDate}}</td>
                                    <td>
                                        <button
                                            class="btn btn-danger btn-sm rounded-pill text-uppercase px-3">Delete</button>
                                        <button
                                            class="btn btn-secondary btn-sm rounded-pill text-uppercase px-3">Block</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

        </div>
        <!-- //content -->

    </div>
    <!-- main content end-->
</section>