<section>
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">

        <!-- logo start -->
        <div class="logo">
            <h1><a href="/admin">ADMIN</a></h1>
        </div>

        <div class="logo-icon text-center">
            <a href="/admin" title="logo"><img src="/images/admin/logo.png" alt="logo-icon"> </a>
        </div>
        <!-- //logo end -->

        <div class="sidebar-menu-inner">

            <!-- sidebar nav start -->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="/admin"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
                </li>
                <li><a href="/admin/theater-management"><i class="fa fa-home"></i> <span>Theater Management</span></a></li>
                <li><a href="/admin/users-management"><i class="fa fa-user"></i> <span>Users Management</span></a></li>
                <li><a href="/admin/users-activity"><i class="fa fa-users"></i> <span>Users Activity Track</span></a></li>
            </ul>
            <!-- //sidebar nav end -->
            <!-- toggle button start -->
            <a class="toggle-btn">
                <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
                <i class="fa fa-angle-double-right menu-collapsed__right"></i>
            </a>
            <!-- //toggle button end -->
        </div>
    </div>
    <!-- //sidebar menu end -->
</section>