<div class="promo-popup animated">
    <a href="https://vishnucprasad.github.io" class="pp-cta extra-action">
        <img
            src="https://avatars.githubusercontent.com/u/64061326?s=460&u=361cb89e920400e33326d1abbdcda9399f15f955&v=4">
    </a>
    <div class="pp-intro-bar"> Developer
        <span class="close">
            <i class="material-icons">close</i>
        </span>
        <span class="up">
            <i class="material-icons">keyboard_arrow_up</i>
        </span>
    </div>
    <div class="pp-inner-content">
        <h2>Vishnu C Prasad</h2>
        <p>Logical and results-driven Junior Web Developer.</p>
        <div class="row px-2">
            <a class="pp-cta extra-action mr-2" href="https://github.com/vishnucprasad">Github</a>
            <a class="pp-cta extra-action" href="https://vishnucprasad.github.io">Personal Website</a>
        </div>
    </div>
</div>