{{#if messages.error}}
<div id="error" hidden>{{messages.error}}</div>
<script>
    iziToast.show({
        title: document.getElementById('error').innerHTML,
        titleColor: '#fff',
        icon: 'fa fa-check',
        iconColor: '#fff',
        class: 'bg-danger',
    });
</script>
{{else}}
<div id="errMessage" hidden>{{errMessage}}</div>
<script>
    iziToast.show({
        title: document.getElementById('errMessage').innerHTML,
        titleColor: '#fff',
        icon: 'fa fa-check',
        iconColor: '#fff',
        class: 'bg-danger',
    });
</script>
{{/if}}