<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MovieMaster | Built for comfortability | Enjoy the show" />

    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/iziToast.css">
    <link rel="stylesheet" href="/assets/css/login.css">

    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
</head>

<body>
    {{{body}}}
    <script src="/assets/js/login.js"></script>
</body>

</html>