<div id="info" hidden>{{messages.info}}</div>
<script>
    iziToast.show({
        title: document.getElementById('info').innerHTML,
        titleColor: '#fff',
        icon: 'fa fa-check',
        iconColor: '#fff',
        class: 'bg-slack',
    });
</script>