<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MovieMaster | Built for comfortability | Enjoy the show" />

    <title>{{title}}</title>

    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/assets/css/neumorphism.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/css/vex.css">
    <link rel="stylesheet" href="/assets/css/vex-theme-os.css">
    <link rel="stylesheet" href="/assets/css/iziToast.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css" />
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
        type="text/css" />

    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
    <script src="/assets/js/vex.combined.js"></script>
    <script>
        vex.defaultOptions.className = 'vex-theme-os';
    </script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <script src="/javascripts/mapbox.js"></script>
</head>

<body>
    {{>user-header}}
    {{{body}}}
    {{>user-footer}}
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/owl.carousel.js"></script>
    <script src="/assets/js/owl.config.js"></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/neumorphism.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/ajax.js"></script>
    <script>
        var closebtns = document.getElementsByClassName("close-grid");
        var i;

        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function () {
                this.parentElement.style.display = 'none';
            });
        }
    </script>
</body>

</html>