<!-- footer-66 -->
<footer class="w3l-footer">
    <section class="footer-inner-main">
        <div class="footer-hny-grids py-5">
            <div class="container py-lg-4">
                <div class="text-txt">
                    <div class="right-side">
                        <div class="row footer-links">
                            <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                <h6>Movies</h6>
                                <ul>
                                    <li><a class="shadow-none" href="/">Movies</a></li>
                                    <li><a class="shadow-none" href="/">Genre</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                <h6>Information</h6>
                                <ul>
                                    <li><a class="shadow-none" href="/">Home</a> </li>
                                    {{#if user}}
                                    <li><a class="shadow-none" type="button" onclick="logout(event, '/logout')">Logout</a> </li>
                                    {{else}}
                                    <li><a class="shadow-none" href="/login">Login</a> </li>
                                    {{/if}}
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 sub-two-right mt-5">
                                <h6>Locations</h6>
                                <ul>
                                    <li><a class="shadow-none" href="/">India</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="below-section">
            <div class="container">
                <div class="copyright-footer">
                    <div class="columns text-lg-left">
                        <p>&copy; 2021 MovieMaster. All rights reserved | Developed by <a class="shadow-none"
                                href="https://vishnucprasad.github.io">Vishnu C Prasad</a></p>
                    </div>

                    <ul class="social text-lg-right">
                        <li><a class="shadow-none" href="/"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="shadow-none" href="/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="shadow-none" href="/"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="shadow-none" href="/"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </button>
    </section>
</footer>
<!--//footer-66 -->