<section>
    <!-- main content start -->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <!-- breadcrumbs -->
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="/theatre">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Screens</li>
                </ol>
            </nav>
            <!-- //breadcrumbs -->

            <section class="pricing">
                <div class="card card_border mb-5">
                    <div class="cards__heading">
                        <h3>Enter Screen Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="px-2 mb-4">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <form action="/theatre/add-screens" method="POST">
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="screenName">Screen Name</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" name="screenName" class="form-control" required
                                                    id="screenName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="seats">Seats</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="number" name="seats" class="form-control" required
                                                    id="seats">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                                <label for="seatColumn">Number of seats in a row</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="number" name="seatColumn" class="form-control" required
                                                    id="seatColumn">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9 my-4 text-center">
                                                <h5 class="text-secondary text-uppercase font-weight-bold">Number of
                                                    rows for each section
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3 text-md-right">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label for="vipRows">VIP</label>
                                                        <input type="number" name="vipRows" class="form-control"
                                                            required id="vipRows">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="premiumRows">PREMIUM</label>
                                                        <input type="number" name="premiumRows" class="form-control"
                                                            required id="premiumRows">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="exicutiveRows">EXECUTIVE</label>
                                                        <input type="number" name="exicutiveRows" class="form-control"
                                                            required id="exicutiveRows">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="normalRows">NORMAL</label>
                                                        <input type="number" name="normalRows" class="form-control"
                                                            required id="normalRows">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit"
                                            class="btn btn-success float-right rounded-pill px-5">Submit</button>
                                        <a href="/theatre/screens"
                                            class="btn btn-danger float-right rounded-pill px-5 mr-3">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- //content -->

    </div>
    <!-- main content end-->
</section>