<section class="min-vh-100 d-flex align-items-center my-5 pt-5">
    <div class="container">
        <div class="text-center">
            <h2 class="text-danger text-uppercase text-monospace font-weight-bolder pb-5"> Account Blocked!</h2>
        </div>
        <div class="card bg-primary shadow-soft border-light mb-5">
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/user/account-blocked.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6 my-auto">
                        <h4 class="text-danger pt-sm-5 p-5">You can't use MovieMaster anymore</h4>
                        <p>At MovieMaster, we value a safe community for our customers. we noticed activity in your
                            account that's inconsistent with our 
                            <a href="" class="text-secondary font-weight-bold">User Agreement</a>
                             and we no longer offer you MovieMaster Services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>