<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2"
                        style="background: url(/images/movies/posters/5fcc4c96cb97ad4ac097880c.jpg) no-repeat center; background-size: cover;">
                        <div class="banner-info">
                            <h3>Latest Movie Trailers</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
                                    Consequuntur hic odio
                                    voluptatem tenetur consequatur.</span></p>
                            <a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
                                <span class="video-play-icon">
                                    <span class="fa fa-play"></span>
                                </span>
                                <h6>Watch Trailer</h6>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                            <div id="small-dialog1" class="zoom-anim-dialog mfp-hide small-dialog">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/TcMBFSGVi1c"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2"
                        style="background: url(/images/movies/posters/5fcc58ea4fecdb173c5c92ae.jpg) no-repeat center; background-size: cover;">
                        <div class="banner-info">
                            <h3>Latest Online Movies</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
                                    Consequuntur hic odio
                                    voluptatem tenetur consequatur.</span></p>
                            <a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
                                <span class="video-play-icon">
                                    <span class="fa fa-play"></span>
                                </span>
                                <h6>Watch Trailer</h6>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                            <div id="small-dialog2" class="zoom-anim-dialog mfp-hide small-dialog">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/HZ7PAyCDwEg"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- //banner-slider-->
<!-- main-slider -->
<!--grids-sec1-->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Popular Movies</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" href="/">Show all</a></h4>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                <div class="item vhny-grid">
                    <div class="box16">
                        <figure>
                            <img class="" src="/images/movies/posters/5fcc4c96cb97ad4ac097880c.jpg" alt=""
                                style="height: 25rem; object-fit: cover !important;">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Frozen 2</h3>
                            <h4>
                                <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min</span>
                            </h4>
                            <a href=""
                                class="btn btn-info text-uppercase font-weight-bold btn-sm rounded-pill float-right px-3">Book
                                Now</a>
                        </div>
                        <a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog3" class="zoom-anim-dialog mfp-hide small-dialog">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/TcMBFSGVi1c"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16">
                        <figure>
                            <img class="" src="/images/movies/posters/5fcc58ea4fecdb173c5c92ae.jpg" alt=""
                                style="height: 25rem; object-fit: cover !important;">
                        </figure>
                        <div class="box-content">
                            <h3 class="title">Frozen 2</h3>
                            <h4 class="row">
                                <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min</span>

                            </h4>
                            <a href=""
                                class="btn btn-info text-uppercase font-weight-bold btn-sm rounded-pill float-right px-3">Book
                                Now</a>
                        </div>
                        <a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog4" class="zoom-anim-dialog mfp-hide small-dialog">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/HZ7PAyCDwEg"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//grids-sec1-->
<!--mid-slider -->
<section class="w3l-mid-slider position-relative">
    <div class="companies20-content">
        <div class="owl-mid owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info mid-view bg bg2"
                        style="background: url(/images/movies/posters/5fcc4c96cb97ad4ac097880c.jpg) no-repeat center; background-size: cover;">
                        <div class="container">
                            <div class="mid-info">
                                <span class="sub-text">Comedy</span>
                                <h3>Jumanji: The Next Level</h3>
                                <p>2019 ‧ Comedy/Action ‧ 2h 3m</p>
                                <a class="watch popup-with-zoom-anim play-view1" href="#small-dialog7"><span class="fa fa-play" aria-hidden="true"></span>
                                    Watch Trailer</a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog7" class="zoom-anim-dialog mfp-hide small-dialog">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TcMBFSGVi1c"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info mid-view bg bg2"
                        style="background: url(/images/movies/posters/5fcc58ea4fecdb173c5c92ae.jpg) no-repeat center; background-size: cover;">
                        <div class="container">
                            <div class="mid-info">
                                <span class="sub-text">Comedy</span>
                                <h3>Jumanji: The Next Level</h3>
                                <p>2019 ‧ Comedy/Action ‧ 2h 3m</p>
                                <a class="watch popup-with-zoom-anim play-view1" href="#small-dialog7"><span class="fa fa-play" aria-hidden="true"></span>
                                    Watch Trailer</a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog7" class="zoom-anim-dialog mfp-hide small-dialog">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HZ7PAyCDwEg"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- //mid-slider-->
<!--grids-sec2-->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">New Releases</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" href="">Show all</a></h4>
                    </div>
                </div>
            </div>
            <div class="owl-three owl-carousel owl-theme">
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <figure>
                            <img class="img-fluid" src="/images/movies/posters/5fcc58ea4fecdb173c5c92ae.jpg"
                                style="height: 10rem; object-fit: cover;" alt="">
                        </figure>
                        <div class="box-content">
                            <h4>
                                <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min </span>
                            </h4>
                        </div>
                        <a href="#small-dialog5" class="popup-with-zoom-anim play-view1">
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog5" class="zoom-anim-dialog mfp-hide small-dialog">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/HZ7PAyCDwEg"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <h3> <a class="title-gd" href="">No Time to Die</a></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    <div class="button-center text-center mt-4">
                        <a href="" class="btn btn-outline-info btn-block text-uppercase">Book now</a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <figure>
                            <img class="img-fluid" src="/images/movies/posters/5fcc4c96cb97ad4ac097880c.jpg"
                                style="height: 10rem; object-fit: cover;" alt="">
                        </figure>
                        <div class="box-content">
                            <h4>
                                <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min </span>
                            </h4>
                        </div>
                        <a href="#small-dialog6" class="popup-with-zoom-anim play-view1">
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog6" class="zoom-anim-dialog mfp-hide small-dialog">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/TcMBFSGVi1c"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <h3> <a class="title-gd" href="">No Time to Die</a></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    <div class="button-center text-center mt-4">
                        <a href="" class="btn btn-outline-info btn-block text-uppercase">Book now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--grids-sec2-->