<section class="min-vh-100 d-flex bg-primary align-items-center my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                <div class="card bg-primary shadow-soft border-light p-4">
                    <div class="card-header text-center pb-0">
                        <h2 class="mb-0 h5 text-secondary">Create Account</h2>
                    </div>
                    <div class="card-body">
                        <form id="signupForm">
                            {{#if refferer}}
                            <div class="form-group" hidden>
                                <label for="reffererInput">Refferer</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span
                                                class="fa fa-user text-twitter"></span></span>
                                    </div>
                                    <input class="form-control" id="reffererInput" placeholder="Type your refferer"
                                        type="text" name="refferer" value="{{refferer}}" aria-label="refferer" required>
                                </div>
                            </div>
                            {{/if}}
                            <div class="form-group">
                                <label for="nameInput">Name</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span
                                                class="fa fa-user text-twitter"></span></span>
                                    </div>
                                    <input class="form-control" id="nameInput" placeholder="Type your name" type="text"
                                        name="name" aria-label="name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="emailInput">Email</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span
                                                class="fa fa-envelope text-twitter"></span></span>
                                    </div>
                                    <input class="form-control" id="emailInput" placeholder="Type your email"
                                        type="text" name="email" aria-label="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="my-1 mr-2" for="contrySelection">Country</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span
                                                class="fa fa-flag text-twitter"></span></span>
                                    </div>
                                    <select class="custom-select shadow-none my-1 mr-sm-2" name="contryCode"
                                        id="contrySelection" required>
                                        <option selected value="">Choose...</option>
                                        <option value="+91">India</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobileInput">Mobile</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span
                                                class="fa fa-phone text-twitter"></span></span>
                                    </div>
                                    <input class="form-control" id="mobileInput" placeholder="Type your mobile number"
                                        type="text" name="mobile" aria-label="mobile" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary" id="signupSubmit">
                                <span id="submitBtn">
                                    Request OTP
                                </span>
                                <span id="loadingBtn" hidden>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                </span>
                            </button>
                        </form>
                        <form class="mt-4" id="verificationForm" style="display: none;">
                            <div class="form-group" hidden>
                                <label for="mobileInput">mobile</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span
                                                class="fa fa-check text-twitter"></span></span>
                                    </div>
                                    <input class="form-control" id="verificationMobileInput" type="text" name="mobile"
                                        aria-label="mobile" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="otpInput">OTP</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span
                                                class="fa fa-check text-twitter"></span></span>
                                    </div>
                                    <input class="form-control" id="otpInput" placeholder="Enter OTP" name="OTP"
                                        type="text" aria-label="otp" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary" id="verificationSubmit">
                                <span id="verificationSubmitBtn">
                                    Verify OTP
                                </span>
                                <span id="verificationLoadingBtn" hidden>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                </span>
                            </button>
                        </form>
                        {{#if refferer}}
                        {{else}}
                        <div class="mt-3 mb-4 text-center">
                            <span class="font-weight-normal">or signup with</span>
                        </div>
                        <div class="btn-wrapper my-4 text-center">
                            <button class="btn btn-primary btn-icon-only text-success mr-2" type="button"
                                aria-label="google button" title="Signup with Google"
                                onClick="authPopup(event, '/auth/google')">
                                <span aria-hidden="true" class="fa fa-google"></span>
                            </button>
                            <button class="btn btn-primary btn-icon-only text-facebook" type="button"
                                aria-label="facebook button" title="Signup with Facebook"
                                onClick="authPopup(event, '/auth/facebook')">
                                <span aria-hidden="true" class="fa fa-facebook-f"></span>
                            </button>
                        </div>
                        {{/if}}
                        <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                            <span class="font-weight-normal">
                                Already have an account?
                                <a href="/login" class="font-weight-bold text-info">Login here</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>