<section class="container" style="height: 100vh !important;">
    <div class="row h-100 justify-content-center">
        <div class="col-md-4 my-auto" id="verificationForm">
            <div class="card card_shadow card_border border-primary-top p-4">
                <h3 class="text-center text-uppercase text-primary font-weight-bold mb-5">Account Verification</h3>
                <form action="/verify-account" method="POST">
                    <div class="form-group" hidden>
                        <label for="exampleInputMobile1" class="text-primary">Mobile</label>
                        <input type="tel" class="form-control border-top-0 border-right-0 border-left-0" value="{{mobileNumber}}" name="mobile"
                            required id="exampleInputMobile1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputMobile1" class="text-primary">OTP</label>
                        <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
                            placeholder="Type your Verification code" name="OTP" required id="exampleInputMobile1">
                    </div>
                    {{#if messages.error}}
                    <div class="text-center pb-2">
                        <p class="text-danger">{{messages.error}}</p>
                    </div>
                    {{/if}}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary rounded-pill px-5 mt-3">Verify</button>
                    </div>
                </form>
                <div class="mt-4 text-center">
                    <a href="" class="small btn-link">Request new OTP</a>
                </div>
            </div>
        </div>
    </div>
</section>